{{- /* Renders an interactive Mol* (MolStar) macromolecular 3D visualization container.

Parameters
----------
transparent : `bool`, optional
    If true, sets the canvas 3D background rendering engine to transparent.
    By default, "true".

mvsjUrl : `str`, optional
    A path or an URL to a MolStar state file. Only one can be given. By
    default, empty.

molxUrl : `str`, optional
    A path or an URL to a MolStar session file. Only one can be given. If
    given, note that any other input are going to be wipeout. By default,
    empty.

loadPdb : `str`, optional
    A space-separated list of PDB identifiers to fetch and display directly
    from the RCSB database (e.g., "7SGL 5EWE"). By default, empty.

loadAlphafold : `str`, optional
    A space-separated list of UniProt accession IDs to fetch and display
    directly from the AlphaFold database ("Q8W3K0"). By default, empty.

structureUrl : `str`, optional
    A custom collection of coordinate files parsed using semicolon separators. 
    Each element expects a space-separated pair containing an absolute path, a 
    relative path or an URL and its structural file format. For instance, 
    "URL_1 pdb; url2 mmcif"). By default, empty.

volumeUrl : `str`, optional
    A custom collection of volumetric electron density maps parsed using
    semicolon separators. Each element expects a space-separated triplet
    containing the URL, the volume format, and its binary data flag.
    For instance, "URL_1 ccp4 true". By default, empty.

Examples
--------
```md
    {{< 
        molstar
        loadPdb="7SGL 5EWE"
        transparent="false"
        volumeUrl="https://smiffer.mol3d.tech/data/2ESJ/output/2ESJ_pi_stacking.mrc ccp4 true"
    >}}
*/ -}}

{{- $id := printf "molstar-%d" .Ordinal -}}


{{- $transparent := .Get "transparent" | default "true" -}}
{{- $loadPdb := .Get "loadPdb" | default "" -}}
{{- $loadAlphafold := .Get "loadAlphafold" | default "" -}}
{{- $structureUrl := .Get "structureUrl" | default "" -}}
{{- $volumeUrl := .Get "volumeUrl" | default "" -}}
{{- $mvsjUrl := .Get "mvsjUrl" | default "" -}}
{{- $molxUrl := .Get "molxUrl" | default "" -}}

<div id="{{ $id }}" class="molstar-container"></div>

{{- $content := "" -}}

{{- /* Load the MVSJ state, if given. */ -}}
{{- if ne $mvsjUrl "" -}}
    {{-
        $content = printf `
            %sviewer.loadSnapshotFromUrl(
                "%s", "molx"
            ).then(() => {
        `
        $content
        $mvsjUrl
    -}}
{{- end -}}

{{- /* Loading MOLX session, if given. */ -}}
{{- if ne $mvsjUrl "" -}}
    {{-
        $content = printf `
            %sviewer.loadMvsFromUrl(
                "%s", "mvsj"
            ).then(() => {
        `
        $content
        $mvsjUrl
    -}}
{{- end -}}

{{- /* Load PDB code, if given. */ -}}
{{- if ne $loadPdb "" -}}
    {{- range (findRE `\S+` $loadPdb) -}}
        {{- $content = printf "%sviewer.loadPdb(\"%s\");\n" $content . -}}
    {{- end -}}
{{- end -}}

{{- /* Load AlphaFold code, if given. */ -}}
{{- if ne $loadAlphafold "" -}}
    {{- range (findRE `\S+` $loadAlphafold) -}}
        {{- $content = printf "%sviewer.loadAlphaFoldDb(\"%s\");\n" $content . -}}
    {{- end -}}
{{- end -}}

{{- /* Load a structure from an URL, if given. */ -}}
{{- if ne $structureUrl "" -}}
    {{- range (split $structureUrl ";") -}}
        {{- $element := findRE `\S+` . -}}

        {{- if ne (len $element) 2 -}}
            {{- 
                errorf "Shortcode error on page %q: 'structureUrl' must contain exactly 2 subarguments (URL and type), but found %d. Given input: %q"
                    $.Page.File.Path
                    (len $element)
                    $structureUrl 
            -}}
        {{- end -}}

        {{- $url := index $element 0 -}}
        {{- $type := index $element 1 -}}

        {{- $content = printf "%sviewer.loadStructureFromUrl(\"%s\", \"%s\");\n" $content $url $type -}}
    {{- end -}}
{{- end -}}

{{- /* Load a volume from an URL, if given. */ -}}
{{- if ne $volumeUrl "" -}}
    {{- range (split $volumeUrl ";") -}}
        {{- $element := findRE `\S+` . -}}

        {{- if ne (len $element) 3 -}}
            {{- 
                errorf "Shortcode error on page %q: 'volumeUrl' must contain exactly 3 subarguments (URL, type and isBinary), but found %d. Given input: %q"
                    $.Page.File.Path
                    (len $element)
                    $volumeUrl 
            -}}
        {{- end -}}

        {{- $url := (index $element 0) -}}
        {{- $type := index $element 1 -}}
        {{- $isBinary := index $element 2 -}}

        {{-
            $content = printf `
                %s
                viewer.loadVolumeFromUrl(
                    {
                        url: "%s",
                        format: "%s",
                        isBinary: %s,
                    },
                    [{
                        type: "relative",
                        value: 0,
                    }],
                    {
                        isLazy: false,
                    },
                );
            `
            $content
            $url
            $type
            $isBinary
        -}}
    {{- end -}}
{{- end -}}

{{- /* Close the loading MVSJ state, if given. */ -}}
{{- if ne $mvsjUrl "" -}}
    {{- $content = printf "%s\n});" $content -}}
{{- end -}}

{{-
    $js_content := printf `
        molstar.Viewer.create(
            "%s",
            {
                layoutIsExpanded: false,
                layoutShowControls: false,
                layoutShowRemoteState: false,
                layoutShowSequence: false,
                layoutShowLog: false,
            }
        ).then(viewer => {
            viewer.plugin.canvas3d.setProps({transparentBackground: %s});
            %s
        });
    `
    $id
    $transparent
    $content
-}}

{{- /* Ship structured scripts out to the global Reveal.js presentation queue */ -}}
{{- .Page.Store.SetInMap "molstar_script_list" $id $js_content -}}
