{{ $id := printf "molstar-%d" .Ordinal }}

<div id="{{ $id }}" class="molstar-container"></div>

{{ $js_content := printf `
    molstar.Viewer.create(
        "%s",
        {
            layoutIsExpanded: false,
            layoutShowControls: false,
            layoutShowRemoteState: false,
            layoutShowSequence: false,
            layoutShowLog: false,
        }
    ).then(viewer => {
        viewer.plugin.canvas3d.setProps({transparentBackground: true});
    });

` $id
}}

{{ .Page.Store.Add "molstar_script_list" (slice $js_content) }}
